@import url('./main.css');

/*Conteúdo principal do site*/
body {
    font-family: var(--fonte-principal);
    user-select: none;
    min-height: 100dvh;
    display: flex;
    background-color: var(--cor-branca);

    /*Barra lateral*/
    .BarraLateral {
        background-color: var(--cor-branca);
        font-family: var(--fonte-principal);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100vh;
        border: none;
        transition-duration: 0.4s;
        position: relative;
        transition: all .5s;
        min-width: 82px;
        max-width: 82px;
        position: fixed;

        .BarraLateralItens {
            display: flex;
            flex-direction: column;
            gap: 4px;

            .BarraLateralItem {
                padding: 10px;
                border-radius: 8px;
                transition-duration: 0.4s;
                cursor: pointer;
                background-color: var(--botao-secundario);
                color: var(--cor-principal);
                display: flex;
                align-items: center;
                justify-content: center;

                i {
                    display: flex;
                    width: 20px;
                    max-width: 20px;
                    min-width: 20px;
                    height: 20px;
                    align-items: center;
                    justify-content: center;
                }

            }
            .BarraLateralItem.ativo {
                background-color: var(--cor-secundaria);
                color: var(--cor-branca);
            }
            .BarraLateralItem:hover {
                background-color: var(--cor-secundaria);
                color: var(--cor-branca);
            }
            .BarraLateralItem.ativo:hover {
                background-color: var(--cor-principal);
                color: var(--cor-branca);
            }
        }
        
        #BarraLateralConteudo {
            padding: 12px;

            #BarraLateralUsuario {
                display: flex;
                align-items: center;
                gap: 0px;
                margin-bottom: 24px;
                transition-duration: 0.4s;
                justify-content: center;
    
                #BarraLateralAvatar {
                    width: 50px;
                    height: 50px;
                    object-fit: cover;
                    border-radius: 100%;
                }
    
                #BarraLateralUsuarioInfo {
                    display: flex;
                    flex-direction: column;
    
                    span:last-child {
                        color: #6b6b6b;
                        font-size: 12px;
                    }
                }
            }

            #BotaoBarraLateralAbrir {
                position: absolute;
                top: 23px;
                right: -10px;
                background-color: var(--cor-secundaria);
                color: var(--cor-branca);
                padding: 5px;
                border-radius: 999px;
                transition-duration: 0.4s;
                border: none;
                cursor: pointer;

                i {
                    transition: transform .3s ease;
                }
            }
            #BotaoBarraLateralAbrir:hover {
                background-color: var(--cor-principal);
            }

        }

        .BarraLateralItemDescricao {
            width: 0px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            transition: width .6s;
            text-align: left;
        }

        #BarraLateralLogout {
            padding: 12px;

            .BarraLateralItem {
                padding: 10px;
                border-radius: 8px;
                transition-duration: 0.4s;
                cursor: pointer;
                border: none;
                background-color: var(--botao-secundario);
                color: var(--cor-principal);
                font-size: 16px;
                font-family: var(--fonte-principal);
            }
            .BarraLateralItem.ativo {
                background-color: var(--cor-secundaria);
                color: var(--cor-branca);
            }
            .BarraLateralItem:hover {
                background-color: var(--cor-secundaria);
                color: var(--cor-branca);
            }
            .BarraLateralItem.ativo:hover {
                background-color: var(--cor-principal);
                color: var(--cor-branca);
            }
        }

    }
    .BarraLateral.aberta {
        min-width: 200px;
        max-width: 200px;

        .BarraLateralItem {
            justify-content: flex-start;
            gap: 10px;
        }

        .BarraLateralItemDescricao {
            width: 150px;
        }

        #BotaoBarraLateralAbrir i {
            transform: rotate(180deg);
        }

        #BarraLateralConteudo {

            #BarraLateralUsuario {
                gap: 8px;
                justify-content: unset;
            }

        }
    }

    /*Corpo*/
    main {
        margin: 10px 10px;
        display: block;
        margin-left: 102px;

        .DashboardAbaSuperior {
            display: flex;
            gap: 12px;

            .BotaoPrimario {
                border-radius: 200px;
                flex: 0 1;
            }
        }

        h1 {
            color: var(--cor-escura);
        }

        .CorpoAba {
            display: none;

            #CorpoAbaFuncionarios {
                #FuncionariosLista {
                    background-color: red;
                }
            }
        }
        .CorpoAba.ativo {
            display: block;
        }

        .InteligenciaArtificial {
            box-shadow: 0px -0.5px 0px 0.2px #C5C8CB inset;
            padding: 10px;
            border-radius: 45px;
            display: flex;
            flex-direction: column;
            gap: 10px;

            .GeminiResposta {
                padding: 10px;
            }
        }

    }

    /* Sobreposições */
    .DashboardSobreposicoes {

        .DashboardFormulario {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #00000055;
            backdrop-filter: blur(2px);
            -webkit-backdrop-filter: blur(2px);
            justify-content: center;
            align-items: center;
        
            .DashboardFormularioConteudo {
                background-color: var(--cor-branca);
                padding: 20px;
                border-radius: 10px;
                text-align: center;
        
                h2 {
                    font-size: 22px;
                    margin-bottom: 10px;
                    color: var(--cor-principal);
                }
        
                p {
                    font-size: 16px;
                    margin-bottom: 20px;
                    color: var(--cor-escura);
                }
        
                .BotaoPrimario {
                    justify-self: center;
                }

                form {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 5px;

                    label {
                        display: inline-flex;
                        width: 100%;
                    }
                }
            }
        
            .DashboardFormularioFooter {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-top: 10px;
                gap: 5px;
        
                input {
                    flex-grow: 1;
                }
            }
        }
        .DashboardFormulario.ativo {
            display: flex;
        }

    }

}