@import url('./main.css');

/*Conteúdo principal do site*/
body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    user-select: none;
    min-height: 100dvh;

    /*Cabeçalho*/
    header {
        background-color: transparent;
        text-decoration: none;
        color: var(--cor-esbranquiçada);
        
        nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px 0;
            
            .Logo a{
                font-size: 30px;
                font-weight: bold;
                color: var(--cor-escura);
                margin: 0 35px;
                display: flex;
                gap: 5px;
            }
        }
    }

    /*Corpo*/
    main {
        margin: 10px 10px;
        display: block;

        h1 {
            color: var(--cor-escura);
        }

        .LogonSeletor {
            display: flex;
            margin: 0 auto;
            margin-top: 20px;
            background-color: var(--cor-secundaria);
            border-radius: 40px;
            max-width: fit-content;
            align-items: left;
            
            .Opcao {
                color: var(--cor-esbranquiçada);
                background-color: var(--botao-secundario);
                transition-duration: 0.4s;
                padding: 10px;
                border-radius: 40px;
                border: none;
                font-family: var(--fonte-principal);
                cursor: pointer;
                font-variant: small-caps;
                font-size: 16px;
            }

            .Opcao:hover {
                background-color: var(--cor-principal);
            }

            .Opcao.ativo {
                background-color: var(--cor-principal);
                color: var(--cor-branca);
            }

        }

        .Logon {
            display: flex;
            margin: 0 auto;
            border-radius: 10px;
            max-width: fit-content;
            align-items: center;
            align-content: center;
            
            .LogOption {
                display: none;
            }
            .LogOption.ativo {
                display: flex;
                flex-direction: column;
                margin: 20px; 

                /*Responsivo */
                @media (max-width: 960px) {
                    margin: none;
                    margin-top: 10px;
                }

                form {
                    margin: 10px;

                    input {
                        width: 100%;
                        padding: 3%;
                        border-radius: 8px;
                        margin-bottom: 8px;
                    }
                    input[id="SenhaR"] {
                        max-width: 88%;
                        /*Responsivo */
                        @media (max-width: 407px) {
                            max-width: 85%;
                        }
                    }
                    input[id="SenhaL"] {
                        max-width: 85%;
                    }
                    .ExibirSenha {
                        margin-left: 10px;
                        cursor: pointer;
                        border: none;
                        background-color: var(--botao-secundario);
                        color: var(--cor-principal);
                        transition-duration: 0.4s;
                    }
                    .ExibirSenha:hover {
                        color: var(--cor-escura)
                    }
                    .ExibirSenha[id="ExibirSenhaR"] {
                        max-width: 12%;
                    }
                    .ExibirSenha[id="ExibirSenhaL"] {
                        max-width: 15%;
                    }
                    .LogOptionBotoes {
                        display: flex;
                        margin-top: 15px;
                        justify-self: center;
                        justify-content: center;
                        align-items: center;
                        gap: 4px;
                    }
                }
            }
        }

    }

}