/*Referências externas*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css');

/*Variáveis*/
:root {
    --cor-escura: #1d1d1c;
    --cor-principal: #323030;
    --cor-secundaria: #706e6e;
    --cor-esbranquiçada: #f4ebdf;
    --cor-branca: #fff9ef;
    --cor-de-fundo: var(--cor-esbranquiçada);
    --botao-primario: var(--cor-principal);
    --botao-secundario: #00000000;
    --fonte-principal: 'Poppins', sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    user-select: none;
}

/*Classes reutilizáveis*/
/**Botões*/
.BotaoPrimario {
    padding: 10px 25px;
    color: var(--cor-esbranquiçada);
    border: none;
    cursor: pointer;
    background-color: var(--botao-primario);
    border-radius: 8px;
    transition-duration: 0.4s;
    font-family: var(--fonte-principal);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.BotaoPrimario:hover {
    background-color: var(--cor-escura);
}
.BotaoSecundario {
    padding: 10px 25px;
    color: var(--cor-esbranquiçada);
    border: none;
    cursor: pointer;
    background-color: var(--botao-secundario);
    border-radius: 8px;
    transition-duration: 0.4s;
    font-family: var(--fonte-principal);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.BotaoSecundario:hover {
    color: var(--cor-esbranquiçada);
    background-color: var(--botao-primario);
}
/**Formulários */
.FormularioCampoPrimario {
    padding: 10px 25px;
    color: var(--cor-principal);
    border: none;
    cursor: text;
    background-color: var(--cor-branca);
    border-radius: 8px;
    font-family: var(--fonte-principal);
    box-sizing: border-box;
    transition-duration: 0.4s;
}
.FormularioCampoPrimario:hover {
    box-shadow: 0px 0px 0px 2px var(--cor-principal) inset;
}

.CaixaAlerta {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000055;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    justify-content: center;
    align-items: center;

    .CaixaAlertaConteudo {
        background-color: var(--cor-branca);
        padding: 20px;
        border-radius: 10px;
        width: 300px;
        text-align: center;
        box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.1);

        h2 {
            font-size: 22px;
            margin-bottom: 10px;
            color: var(--cor-principal);
        }

        p {
            font-size: 16px;
            margin-bottom: 20px;
            color: var(--cor-escura);
        }

        .BotaoPrimario {
            justify-self: center;
        }
    }

    .CaixaAlertaFooter {
        display: flex;
        align-items: center;
        justify-content: center;

        .BotaoSecundario {
            color: var(--cor-principal);
        }
        .BotaoSecundario:hover {
            color: var(--cor-esbranquiçada);
        }
    }
}
.CaixaAlerta.ativo {
    display: flex;
}

.CabecalhoPequeno {
    background-color: var(--cor-esbranquiçada);
    border-radius: 200px;
    display: flex;
    gap: 12px;
    padding: 12px;

    input {
        border-radius: 200px;
    }
    select {
        border-radius: 200px;
        color: var(--cor-principal);
        border: none;
        background-color: var(--cor-branca);
        font-family: var(--fonte-principal);
        padding: 10px;
        transition-duration: 0.4s;
    }
    select:hover {
        box-shadow: 0px 0px 0px 2px var(--cor-principal) inset;
    }
}

.GradeLista {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    gap: 8px;
    margin-top: 10px;
    overflow-wrap: break-word;
    transition-duration: 0.4s;

    div {
        background-color: var(--cor-de-fundo);
        padding: 10px;
        border-radius: 10px;
        transition-duration: 0.4s;
    }
    div:hover {
        background-color: var(--cor-branca);
        padding: 16px;
    }
}

/*Conteúdo principal do site*/
body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    user-select: none;
    min-height: 100vh;

    /*Cabeçalho*/
    header {
        background-color: var(--cor-secundaria);
        text-decoration: none;
        color: var(--cor-esbranquiçada);
        
        nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px 0;
            
            .Logo a{
                font-size: 30px;
                font-weight: bold;
                color: var(--cor-escura);
                margin: 0 35px;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .Lista {
                display: flex;
                align-items: center;

                li {
                    margin: 0 35px;
                    font-size: 15px;
                    a {
                        color: var(--cor-esbranquiçada);
                    }
                    form {
                        display: flex;
                    }
                }
            }

            .MenuIcone {
                display: none;
                position: relative;
                z-index: 10;
            }
            /*Responsivo */
            @media (max-width: 960px) {

                font-size: 20px;

                .Lista {
                    position: fixed;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    left: 100%;
                    transition: 0.3s;
                    flex-direction: column;
                    justify-content: center;
                    background-color: var(--cor-secundaria);

                    li {
                        margin: 20px 0;
                    }
                }

                .Lista.ativo {
                    left: 0%;
                }

                .MenuIcone {
                    display: block;
                }
            }
        }
    }

    /*Barra lateral*/
    .BarraLateral {
        background-color: var(--cor-esbranquiçada);
        font-family: var(--fonte-principal);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100vh;
        border: none;
        transition-duration: 0.4s;
        position: relative;
        transition: all .5s;
        min-width: 82px;
        max-width: 82px;

        .BarraLateralItens {
            display: flex;
            flex-direction: column;
            gap: 4px;

            .BarraLateralItem {
                padding: 10px;
                border-radius: 8px;
                transition-duration: 0.4s;
                cursor: pointer;
                background-color: var(--botao-secundario);
                color: var(--cor-secundaria);
                display: flex;
                align-items: center;
                justify-content: center;

                i {
                    display: flex;
                    width: 20px;
                    height: 20px;
                    align-items: center;
                    justify-content: center;
                }

            }
            .BarraLateralItem.ativo {
                background-color: var(--cor-secundaria);
                color: var(--cor-branca);
            }
            .BarraLateralItem:hover {
                background-color: var(--cor-secundaria);
                color: var(--cor-branca);
            }
            .BarraLateralItem.ativo:hover {
                background-color: var(--cor-principal);
                color: var(--cor-branca);
            }
        }
        
        #BarraLateralConteudo {
            padding: 12px;

            #BarraLateralUsuario {
                display: flex;
                align-items: center;
                gap: 8px;
                margin-bottom: 24px;
    
                #BarraLateralAvatar {
                    width: 50px;
                    height: 50px;
                    object-fit: cover;
                    border-radius: 100%;
                }
    
                #BarraLateralUsuarioInfo {
                    display: flex;
                    flex-direction: column;
    
                    span:last-child {
                        color: #6b6b6b;
                        font-size: 12px;
                    }
                }
            }

            #BotaoBarraLateralAbrir {
                position: absolute;
                top: 20px;
                right: -10px;
                background-color: var(--cor-secundaria);
                color: var(--cor-branca);
                padding: 5px;
                border-radius: 999px;
                transition-duration: 0.4s;
                border: none;
                cursor: pointer;

                i {
                    transition: transform .3s ease;
                }
            }
            #BotaoBarraLateralAbrir:hover {
                background-color: var(--cor-principal);
            }

        }

        .BarraLateralItemDescricao {
            width: 0px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            transition: width .6s;
            text-align: left;
        }

        #BarraLateralLogout {
            padding: 12px;

            .BarraLateralItem {
                padding: 10px;
                border-radius: 8px;
                transition-duration: 0.4s;
                cursor: pointer;
                border: none;
                background-color: var(--botao-secundario);
                color: var(--cor-secundaria);
                font-size: 16px;
                font-family: var(--fonte-principal);
            }
            .BarraLateralItem.ativo {
                background-color: var(--cor-secundaria);
                color: var(--cor-branca);
            }
            .BarraLateralItem:hover {
                background-color: var(--cor-secundaria);
                color: var(--cor-branca);
            }
            .BarraLateralItem.ativo:hover {
                background-color: var(--cor-principal);
                color: var(--cor-branca);
            }
        }

    }

    .BarraLateral.aberta {
        min-width: 200px;
        max-width: 200px;

        .BarraLateralItem {
            justify-content: flex-start;
            gap: 10px;
        }

        .BarraLateralItemDescricao {
            width: 150px;
        }

        #BotaoBarraLateralAbrir i {
            transform: rotate(180deg);
        }
    }

    /*Corpo*/
    main {
        margin: 10px 10px;
        display: block;

        h1 {
            color: var(--cor-escura);
        }

        .LogonSeletor {
            display: flex;
            margin: 0 auto;
            margin-top: 20px;
            background-color: var(--cor-secundaria);
            border-radius: 40px;
            max-width: fit-content;
            align-items: center;
            
            .Opcao {
                color: var(--cor-esbranquiçada);
                background-color: var(--botao-secundario);
                transition-duration: 0.4s;
                padding: 10px;
                border-radius: 40px;
                border: none;
                font-family: var(--fonte-principal);
                cursor: pointer;
                font-variant: small-caps;
                font-size: 16px;
            }

            .Opcao:hover {
                background-color: var(--cor-principal);
            }

            .Opcao.ativo {
                background-color: var(--cor-principal);
            }

        }

        .Logon {
            display: flex;
            margin: 0 auto;
            background-color: var(--cor-esbranquiçada);
            border-radius: 10px;
            max-width: fit-content;
            align-items: center;
            align-content: center;
            
            .LogOption {
                display: none;
            }
            .LogOption.ativo {
                display: flex;
                flex-direction: column;
                margin: 20px; 

                /*Responsivo */
                @media (max-width: 960px) {
                    margin: none;
                    margin-top: 10px;
                }

                form {
                    margin: 10px;

                    input {
                        width: 100%;
                        padding: 3%;
                        border-radius: 8px;
                        margin-bottom: 8px;
                    }
                    input[id="SenhaR"] {
                        max-width: 88%;
                        /*Responsivo */
                        @media (max-width: 407px) {
                            max-width: 85%;
                        }
                    }
                    input[id="SenhaL"] {
                        max-width: 85%;
                    }
                    .ExibirSenha {
                        margin-left: 10px;
                        cursor: pointer;
                        border: none;
                        background-color: var(--botao-secundario);
                        color: var(--cor-principal);
                        transition-duration: 0.4s;
                    }
                    .ExibirSenha:hover {
                        color: var(--cor-escura)
                    }
                    .ExibirSenha[id="ExibirSenhaR"] {
                        max-width: 12%;
                    }
                    .ExibirSenha[id="ExibirSenhaL"] {
                        max-width: 15%;
                    }
                    .LogOptionBotoes {
                        display: flex;
                        margin-top: 15px;
                        justify-self: center;
                        justify-content: center;
                        align-items: center;
                        gap: 4px;
                        
                        .BotaoSecundario {
                            color: var(--cor-principal);
                        }
                        .BotaoSecundario:hover {
                            color: var(--cor-esbranquiçada);
                        }
                    }
                }
            }
        }

        .CorpoAba {
            display: none;

            #CorpoAbaFuncionarios {
                #FuncionariosLista {
                    background-color: red;
                }
            }
        }
        .CorpoAba.ativo {
            display: block;
        }

    }

}

#BodyDashboard {
    display: flex;
    background-color: var(--cor-branca);

    main {
        margin-left: 20px;

        .DashboardAbaSuperior {
            display: flex;
            gap: 12px;

            .BotaoPrimario {
                border-radius: 200px;
                flex: 0 1;
            }
        }
    }

    .DashboardSobreposicoes {

        .DashboardFormulario {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #00000055;
            backdrop-filter: blur(2px);
            -webkit-backdrop-filter: blur(2px);
            justify-content: center;
            align-items: center;
        
            .DashboardFormularioConteudo {
                background-color: var(--cor-branca);
                padding: 20px;
                border-radius: 10px;
                text-align: center;
                box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.1);
        
                h2 {
                    font-size: 22px;
                    margin-bottom: 10px;
                    color: var(--cor-principal);
                }
        
                p {
                    font-size: 16px;
                    margin-bottom: 20px;
                    color: var(--cor-escura);
                }
        
                .BotaoPrimario {
                    justify-self: center;
                }

                form {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 5px;
                }
            }
        
            .DashboardFormularioFooter {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 10px;
                gap: 5px;
        
                .BotaoSecundario {
                    color: var(--cor-principal);
                }
                .BotaoSecundario:hover {
                    color: var(--cor-esbranquiçada);
                }
            }
        }
        .DashboardFormulario.ativo {
            display: flex;
        }

    }
}
