/*Referências externas*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*Variáveis*/
:root {
    --cor-escura: rgb(76, 45, 7);
    --cor-principal: #70522a;
    --cor-secundaria: #d4af7d;
    --cor-esbranquiçada: #f4ebdf;
    --cor-de-fundo: var(--cor-esbranquiçada);
    --botao-primario: var(--cor-principal);
    --botao-secundario: #00000000;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/*Classes reutilizáveis*/
/**Botões*/
.botao-primario {
    padding: 10px 25px;
    color: var(--cor-esbranquiçada);
    border: none;
    cursor: pointer;
    background-color: var(--botao-primario);
    border-radius: 8px;
    transition-duration: 0.4s;
    font-family: 'Poppins', sans-serif;
    max-height: min-content;
}
.botao-primario:hover {
    background-color: var(--cor-escura);
}
.botao-secundario {
    padding: 10px 25px;
    color: var(--cor-esbranquiçada);
    border: none;
    cursor: pointer;
    background-color: var(--botao-secundario);
    border-radius: 8px;
    transition-duration: 0.4s;
    font-family: 'Poppins', sans-serif;
    max-height: min-content;
}
.botao-secundario:hover {
    color: var(--cor-esbranquiçada);
    background-color: var(--cor-escura);
}
/**Formulários */
.formulario-campo-primario {
    padding: 10px 25px;
    color: var(--cor-principal);
    border: none;
    cursor: text;
    background-color: var(--cor-esbranquiçada);
    border-radius: 8px;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    transition-duration: 0.4s;
}
.formulario-campo-primario:hover {
    box-shadow: 0px 0px 0px 2px var(--cor-principal) inset;
}

/*Conteúdo principal do site*/
body {
    background-color: var(--cor-de-fundo);
    font-family: 'Poppins', sans-serif;
    user-select: none;

    /*Cabeçalho*/
    header {
        background-color: var(--cor-secundaria);
        text-decoration: none;
        color: var(--cor-esbranquiçada);
        
        nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px 0;
            
            .logo a{
                font-size: 30px;
                font-weight: bold;
                color: var(--cor-esbranquiçada);
                margin: 0 35px;
            }

            ul {
                display: flex;
                align-items: center;

                li {
                    margin: 0 35px;
                    font-size: 15px;
                    a {
                        color: var(--cor-esbranquiçada);
                    }
                }
            }
        }
    }

    /*Corpo*/
    main {
        margin: 10px 10px;
    }
}