/*Corpo*/
#main {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-grow: 1;
    overflow: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;

    @media (max-width: 640px) {
        margin-top: 10dvh;
    }

    h1 {
        color: var(--cor-escura);
    }

    section {
        display: flex;
        flex-direction: row;
        gap: 8px;
        height: 100dvh;
        width: 100dvw;
        scroll-snap-align: start;

        @media (max-width: 640px) {
            flex-direction: column;
            min-height: unset;

            div img {
                max-width: 100%;
                height: unset;
            }
        }

        div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            padding: 10px;
        }
    }

}