#main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;

    @media (max-width: 640px) {
        margin-top: 10dvh;
    }

    /* Genérico para seções */
    section {
        display: flex;
        flex-direction: row;
        gap: 8px;
        height: 100dvh;
        width: 100dvw;
        scroll-snap-align: start;
        overflow: hidden;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;

        @media (max-width: 640px) {
            flex-direction: column;
        }

        div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;

            img {
                height: 100%;

                @media (max-width: 640px) {
                    width: 100%;
                    height: unset;
                }
            }
        }
    }
    
    /* Seção Empreendedores */
    section:nth-of-type(1) {
        background-image: url('/img/EmpresariosFoto.png');
        background-color: var(--lightest-color);
        background-position: bottom center;

        div {
            color: white;
            filter: drop-shadow(0 0 5px hsla(0, 0%, 0%, 50%));
            font-size: large;
            padding: 25%;

            @media (max-width: 640px) {
                color: black;
                filter: unset;
            }
        }
    }

    /* Seção Celular */
    section:nth-of-type(2) {
        background-image: url('/img/Smartphone.png');
        background-color: var(--darkest-color);
        background-size: auto 60%;
        color: var(--lightest-color);
        justify-content: center;
        align-items: center;

        p {
            mix-blend-mode: difference;
            color: white;
            font-size: large;
            padding: 50px;
            width: 100%;
            display: flex;
            text-align: center;
            filter: drop-shadow(0px 0px 8px white);
            align-items: center;
            justify-content: center;
        }
    }

}