.button {
    font-weight: normal;
    font-size: medium;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 12px;
    transition-duration: 0.4s;
}
.button:hover {
    scale: 1.075;
}
.button:active {
    rotate: 3deg;
}

/* Grupos de estilo */

.primary {
    color: var(--lightest-color);
    border: none;
    background-color: var(--accent-color);
    font-weight: 600;
}
.primary:hover {
    background-color: var(--accent-color-hover);
}

.secondary {
    border: none;
    background-color: transparent;
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
    font-weight: 500;
}
.secondary:hover {
    color: var(--lightest-color);
    background-color: var(--accent-color-hover);
}

.tertiary {
    color: var(--accent-color);
    border: none;
    background-color: transparent;
}
.tertiary:hover {
    color: var(--lightest-color);
    background-color: var(--accent-color-hover);
}

/* Grupos de padding */

.lowestPadding {
    padding: 5px 10px;
}

.lowerPadding {
    padding: 10px 12px;
}

.regularPadding {
    padding: 18px;
}