.blankSpace {
    height: 10dvh;
}

.header {
    padding: 20px;
    display: flex;
    align-items: center;
    position: fixed;
    width: 100dvw;
    height: 10dvh;
    justify-content: space-between;
    top: 0;
    background: linear-gradient(180deg, white, transparent);
    box-shadow: none;
    border: none;

    .logo a {
        font-size: 30px;
        font-weight: bold;
        color: var(--darkest-color);
        display: flex;
        gap: 5px;
    }

    .list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;

        @media (max-width: 640px) {
            display: none;
        }
    }

    .menuIcon {
        display: none;
        cursor: pointer;

        @media (max-width: 640px) {
            display: flex;
        }
    }
}
.header::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    mask-image: linear-gradient(180deg, black, transparent);
}