.header {
    padding: 20px;
    display: flex;
    align-items: center;
    position: fixed;
    width: 100dvw;
    height: 10dvh;
    justify-content: space-between;
    top: 0;
    box-shadow: none;
    border: none;

    .logo a {
        font-size: 30px;
        font-weight: bold;
        color: var(--darkest-color);
        display: flex;
        gap: 5px;
    }

    .list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;

        @media (max-width: 640px) {
            display: none;
        }
    }

    .menuIcon {
        display: none;
        cursor: pointer;

        @media (max-width: 640px) {
            display: flex;
        }
    }
}