/*Variáveis*/
:root {
    --accent-color: hsl(240, 20%, 17%);
    --accent-color-hover: var(--darkest-color);
    --darkest-color: hsl(0, 0%, 0%);
    --lightest-color: hsl(0, 0%, 100%);
    --lightest-color-hover: hsl(0, 0%, 95%);
    --outline: 1px solid hsl(0, 0%, 90%);
    --dark-text-color: hsl(0, 0%, 20%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    user-select: none;
}

body {
    font-family: 'Montserrat', monospace, sans-serif;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    border-radius: 0px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--lightest-color);
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--lightest-color-hover);
}

/* Evitar zoom não pedido */
@media screen and (max-width: 767px) {

    input,
    select,
    textarea {
        font-size: 16px !important;
    }
}