#nprogress {
    pointer-events: none;

    .bar {
        background: var(--lightest-color);
        mix-blend-mode: difference;

        position: fixed;
        z-index: 1031;
        top: 0px;
        left: 0;
        width: 100%;
        height: 2px;
        
        @media screen and (max-height: 500px) and (orientation: landscape) {
            top: 0;
        }
    }

    .peg {
        display: none;
        position: absolute;
        right: 0px;
        width: 100px;
        height: 100%;
        box-shadow: 0 0 10px #000000, 0 0 5px red;
        opacity: 1;

        -webkit-transform: rotate(3deg) translate(0px, -4px);
        -ms-transform: rotate(3deg) translate(0px, -4px);
        transform: rotate(3deg) translate(0px, -4px);
    }

}