:root {
    --tippy-border-radius: 12px;
    --tippy-color: rgba(14, 14, 14, 0.812);
    --tippy-text-color: #ffffff;
}

.tippy-box {
    background-color: var(--tippy-color);
    border-radius: var(--tippy-border-radius);
    backdrop-filter: var(--frosted-glass-blur);
    border: var(--outline);
    box-shadow: var(--shadow);
}

.tippy-box[data-theme="white"] {
    background-color: white;
    color: black;
}

.tippy-box[data-theme="transparent"] {
    background-color: rgba(255, 255, 255, 0);
    color: black;
}

.tippy-box[data-theme="dropdown"] {
    background-color: white;
    border: 1px solid rgb(229, 229, 229);
    flex-direction: column;

    .tippy-content div {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        border-radius: 12px;

        a {
            color: rgb(42, 42, 42);
            text-decoration: none;
            transition-duration: 0.4s;
            display: flex;
            align-items: center;
            gap: 5px;
            padding: 8px;
        }
        a:hover {
            color: black;
            background-color: rgba(0, 0, 0, 0.042);
        }
    }
}

.tippy-box[data-theme="white"] .tippy-arrow {
    color: white;
}

.tippy-box[data-theme="transparent"] .tippy-arrow {
    color: rgba(255, 255, 255, 0);
}

.tippy-box[data-theme="suggestion"] {
    background-color: transparent;
    padding: 0;
    border-radius: 0;
}

.tippy-arrow {
    color: var(--tippy-color);
    height: 25px !important;
    backdrop-filter: var(--frosted-glass-blur);
}

.tippy-content {
    padding: 0;
}