.tippy-box {
    background-color: var(--darkest-color);
    border-radius: 12px;
    backdrop-filter: blur(5px);
    border: var(--outline);
    box-shadow: var(--shadow);
}

.tippy-box[data-theme="white"] {
    background-color: white;
    color: black;
}

.tippy-box[data-theme="transparent"] {
    background-color: rgba(255, 255, 255, 0);
    color: black;
}

.tippy-box[data-theme="dropdown"] {
    background-color: var(--lightest-color);
    border: var(--outline);
    flex-direction: column;

    .tippy-content div {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        border-radius: 12px;

        a {
            color: var(--dark-text-color);
            text-decoration: none;
            transition-duration: 0.4s;
            display: flex;
            align-items: center;
            gap: 5px;
            padding: 8px;
        }
        a:hover {
            color: var(--darkest-color);
            background-color: var(--lightest-color-hover);
        }
    }
}

.tippy-box[data-theme="white"] .tippy-arrow {
    color: var(--lightest-color);
}

.tippy-arrow {
    color: var(--tippy-color);
    height: 25px !important;
    backdrop-filter: blur(5px);
}

.tippy-content {
    padding: 0;
}